{{#each this}}
<li id={{id}} class="menu__item">
    <article class="card">
        <img src="{{image}}" alt="{{name}}" class="card__image" />
        <div class="card__content">
            <h2 class="card__name">{{name}}</h2>
            <p class="card__price">
                <i class="material-icons"> monetization_on </i>
                {{price}}
            </p>

            <p class="card__descr">
                {{description}}
            </p>

            <ul class="tag-list">
                {{#each this.ingredients}}
                <li>{{ingredients}}</li>
                {{/each}}
            </ul>
        </div>

        <button class="card__button button">
            <i class="material-icons button__icon"> shopping_cart </i>
            В корзину
        </button>
    </article>
</li>
{{/each}}



{{!-- "id": "b7k2U13fd",
"name": "Жареный рис с яйцом по‑китайски",
"description": "Жареный рис — довольно распространенный ингредиент блюд восточноазиатской кухни — готовить, в сущности,
можно из остатков вчерашнего ужина. Только хорошо остывший, заранее сваренный рис, в идеале простоявший всю ночь в
холодильнике, при попадании в раскаленный вок не расползется до состояния каши и не превратит содержимое сковородки в
неповоротливый бесформенный ком.",
"image": "https://s2.eda.ru/StaticContent/Photos/150428090447/150505141508/p_O.jpg",
"price": 240,
"ingredients": [
"Круглый рис",
"Мини цукини",
"Тертый имбирь",
"Грибы шиитаке",
"Соевый соус", --}}
{{!-- "Кунжутное масло" --}}